/* место для вашего кода */
.container {
	max-width: 1052px;
	margin: 0 auto;
}

.header {
	display: grid;
	grid-template-columns: 1fr 148px 1fr;
	align-items: center;
	gap: 10px;
	padding: 92px 27px 91px;
}

.header__links-list {
	display: flex;
	gap: 33px;
}

.header__links-list-item {
	list-style: circle;
}

.header__links-list-item_no-bullit {
	list-style: none;
}

.header__link {
	color: #000;
	font-weight: 400;
	font-size: 18px;
	text-underline-position: under;
	text-transform: lowercase;
	white-space: nowrap;
}

.header__link_active {
	text-decoration: none;
}

.header__logo {
	justify-self: center;
	align-self: center;
	width: 138px;
}

.header__address {
	justify-self: end;
	max-width: 240px;
}

.address {
	font-style: normal;
}

.address__link,
.address__text {
	color: #000;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.35;
	letter-spacing: 0.01em;
}

.address__link {
	text-underline-position: under;
	white-space: nowrap;
}